@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*////////////////////////////////////////////////////////////////////////

Note from me:
 - header foto, blijf lastig krijg hem niet helemaal goed,
 - blockquote & cite: de opbouw is anders, wel zo voorbeelden gevonden dat het semantisch klopt.
    Maar anders dan dat ze aanraden in 1.5.
 */


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.20 Main
        3.21 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*grijs #899CA0 en donkergroen #1C2B32*/

/*////////////////////////
    1. Global Styles
////////////////////////*/


* {
    box-sizing: border-box
}


/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 100px;
    font-weight: 600;
    margin: 40px 0 0 0;
}

h2 {
    padding: 20px 0;

}

h4 {
    font-weight: 200;
    margin: 0 0 20px 0;
}

a {
    color: #899CA0;
}

a:hover {
    text-decoration: none;
}

/*////////////////////////
    3. Areas
////////////////////////*/

body {
    text-align: center;
    color: #1C2B32;
    padding: 0;
}

/*///////////// 3.1 Header /////////////*/


header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: 65% 35%;
    color: #1C2B32;
    padding: 0;
}

.header_stuff {
    max-width: 1000px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 95px;
    text-align: center;
}

form.domainform {
    color: #1C2B32;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 110px;
}

input#namecheck {
    text-align: left;
    padding-left: 20px;
    background-color: transparent;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    border: 2px solid #1C2B32;
    height: 36px;
    width: 300px;

}

input#namecheck::placeholder {
    color: #1C2B32;

}

button#domainsubmit {
    color: white;
    background-color: #1C2B32;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-left: -6px;
    height: 36px;
    width: 200px;
    border: 2px solid #1C2B32;
}

.hide-label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
}

/*///////////// 3.20 Main /////////////*/

main {
    width: max(1000px);
    margin: 0 auto;
}


/*///////////// 3.21 Testimonial /////////////*/
.klant_reviews div {
    text-align: left;
    border-radius: 1em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    padding: 30px 25px;
    margin: 20px auto;
}

.left-qoute-icon {
    float: left;
    padding-right: 10px;
}

.cite-picture {
    margin-left: 40px;
    max-width: 44px;
    height: auto;
    border-radius: 50% ;
}

.cite-text {
    padding-left: 15px;
    vertical-align: 50%;
}

.qoute-footer {
    background-color: white;
}



/*///////////// 3.3 Support /////////////*/

.contact_met_ons img {
    width: 100%;
    border-radius: 1em;
}

.contact_met_ons p {
    text-align: left;
}

#contact_button {
    background-color: #1C2B32;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 2em;
    float: left;
    margin-left: 0;
}

/*///////////// 3.4 Faq /////////////*/

.veelgestelde_vragen {
    margin-top: 100px;
}

.details-veelgestelde-vragen {
    padding-bottom: 20px;
    text-align: left;

}

.details-veelgestelde-vragen:hover {
    cursor: pointer;
}

.details-veelgestelde-vragen p {
    background-color: #7b8f94;
    color: white;
    padding: 20px;
    border-radius: 1em;
}


/*///////////// 3.5 Footer /////////////*/


footer {
    background-color: #1C2B32;
}

.footer_copyright {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    color: white;
    text-align: center;
    height: 60px;
    font-size: 10px;
    padding: 2em 0 2em 0;
}
